$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

.switch {
    background: $black;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    /*display: flex;*/
    outline: none;
    &::after {
      content: "";
      display: block;
      width: 26px;
      height: 26px;
      position: absolute;
      background: $white;/*#fff*/
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: 0.3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active {
      background: $orange;
      color: $black;
      &::after {
        right: 0;
        left: unset;
      }
    }
    span {
      width: 20px;
      height: 20px;/*30*/
      /*line-break: 40px;*/
      display: block;
      background: none;
      color: $white;
      display: inline-block;
    }
  }
  body {
    transition: 0.3s ease all;
    &.dark {
      background-color: $gray-700;
    }
  }
  
  nav {
    transition: 0.3s ease all;
    body.dark & {
      background-color: $gray-900 !important;
      box-shadow: 0 0.25rem 0.5rem  rgba(255, 255, 255, 0.075) !important;
    }
  }
  footer{
      body.dark &{
          background-color: $gray-900 !important;
      }    
  }
  
  .mode-dark1{
      body.dark &{
          background-color: $gray-600 !important;
      }
  }
  .mode-dark2{
      body.dark &{
          background-color: $gray-700 !important;
      }
  }
  .mode-dark3{
      body.dark &{
          background-color: $gray-800 !important;
      }
  }
  
  .mode-dark4{
      body.dark &{
          background-color: $gray-900 !important;
      }
  }
  .mode-dark5{
      body.dark &{
          background-color: $black !important;
      }
  }