/*-------------text responsive------------*/
@media (max-width: 60rem) {
  h1 {
    &.text-small {
      font-size: 4.18vw;
    }
  }
}
@media (max-width: 52.7rem) {
  h2 {
    &.text-small {
      font-size: 3.8vw;
    }
  }
}
@media (max-width: 52rem) {
  h3 {
    &.text-small {
      font-size: 3.35vw;
    }
  }
}
@media (max-width: 45rem) {
  h4 {
    &.text-small {
      font-size: 3.34vw;
    }
  }
}
@media (max-width: 37.5rem) {
  h5 {
    &.text-small {
      font-size: 3.33vw;
    }
  }
}

@media (max-width: 30rem) {
  h1 {
    &.text-small {
      font-size: 1.25rem;
    }
  }
  h2 {
    &.text-small {
      font-size: 1.125rem;
    }
  }
  h3 {
    &.text-small {
      font-size: 1rem;
    }
  }
  h4 {
    &.text-small {
      font-size: 1rem;
    }
  }
  h5 {
    &.text-small {
      font-size: 1rem;
    }
  }
}

/*-------------border thickness-----------*/
.border-0 {
  border-width: 0 !important;
}
.border-1 {
  border-width: 1px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-3 {
  border-width: 3px !important;
}
.border-4 {
  border-width: 4px !important;
}
.border-5 {
  border-width: 5px !important;
}
/*--------------link color--------------*/

.link-primary {
  color: #237bff;
  &:focus,
  :hover {
    color: $primary;
  }
}

.link-secondary {
  color: $gray-600;
  &:focus,
  :hover {
    color: $gray-700;
  }
}

.link-success {
  color: #198754;
  &:focus,
  :hover {
    color: $success;
  }
}

.link-info {
  color: #0dcaf0;
  &:focus,
  :hover {
    color: $info;
  }
}

.link-warning {
  color: #ffcd35;
  &:focus,
  :hover {
    color: $warning;
  }
}

.link-danger {
  color: #df4e5c;
  &:focus,
  :hover {
    color: $danger;
  }
}

.link-light {
  color: $gray-300;
  &:focus,
  :hover {
    color: $white;
  }
}

.link-dark {
  color: $gray-900;
  &:focus,
  :hover {
    color: $black;
  }
}

/*---------scroll decor----------*/
.scroll-decor {
  /*mozilla*/
  scrollbar-width: thin;
  scrollbar-color: rgb(205, 205, 205) transparent;
  /*the other browsers*/
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25); /* color del scroll thumb */
    border-radius: 10px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.35);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

/*---------big cursor----------*/
body {
  &.big-cursor {
    cursor: url(../svg/cursor_d.svg), auto !important;
  }
}

label,
select,
input[type="date"],
input[type="radio"],
input[type="checkbox"] {
  body.big-cursor & {
    cursor: url(../svg/cursor_d.svg), auto !important;
  }
}

a,
li,
.btn,
button {
  body.big-cursor & {
    cursor: url(../svg/cursor_pointer.svg), auto !important;
  }
}

/*------------Dyslexic font------------*/
@font-face {
  font-family: OpenDyslexic;
  src: url("../font/OpenDyslexic-Regular.otf");
}
body {
  &.open-dyslexic {
    font-family: OpenDyslexic;
  }
}
.dyslexic-font {
  font-family: OpenDyslexic;
}

/*-------------Aplicando gray scale-------------*/
body {
   &.grayscale {
    filter: grayscale(100%);
  }
}
