#Listado de archivos y carpetas ignoradas

#///////////////////////////////////////
#              Archivos
#///////////////////////////////////////
notas.txt


#///////////////////////////////////////
#              Carpetas
#///////////////////////////////////////
bootstrap-4.6.0/*/*
!bootstrap-4.6.0/scss/_variables.scss
img/*
!img/1.png
!img/2.png
!img/3.png
!img/4.png

diseño/
.vs/
.vscode/
video/
svg/*.cdr
#antes era css/
css/*
!css/bootstrap.css
!css/bootstrap.min.css
!css/utm_bootstrap.css
#Carpeta evo-calendar
evo-calendar/css/*.css
!evo-calendar/css/evo-calendar.css
!evo-calendar/css/evo-calendar.min.css
