body {
    background-color: #F1C40F;
    text-align: center;
  }
  
  button {
    border: 20px solid white;
    margin: 30px;
    padding: 30px;
    color: white;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
  }
  
  button {
    background-color: #2274A5;
  }